body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  background-color: ghostwhite;
  height: 500px;
  background-position: center; /* Center the image */
}
.container {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 50%;
}
.card-deck {
  padding: 15px;
}
.mr-auto {
  display: flex;
  justify-content: space-around;
}
.leaflet-container {
  width: 100%;
  height: 50vh;
  z-index: 0;
}
